<html>
   <head>
      <title>{% block title %}My Website{% endblock %}</title>

	    <link href="/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    <link href="/Content/css?v=tCkRx_WNozdpKoW_vuuuhxetRaarbBWBf90OGg12o6Q1" rel="stylesheet"/>

    <script src="/bundles/modernizr?v=wBEWDufH_8Md-Pbioxomt90vm6tJN2Pyy9u9zHtWsPo1"></script>

    <link href="/Content/bootstrap?v=mTBFkL-HpDvdGhXiBs5FjZShHy-eIdAsf3FOK-pT3Qk1" rel="stylesheet"/>


    <script src="/bundles/jquery?v=gGGRI7xCOnEK-4qvkXXwhmbyGmA8S3tmz-Wto5bGsIc1"></script>

    <script src="/bundles/jqueryui?v=EqKlUEwb5a6QnKK9APLpZeOKZkAYzlO2YiCGDkzKK6c1"></script>

    <script src="/bundles/bootstrap?v=uDVFaQU3nC3-Ge524JHLENnSAsGoa5bK-qJedsVvf6I1"></script>

    <script src="/bundles/jqueryui?v=EqKlUEwb5a6QnKK9APLpZeOKZkAYzlO2YiCGDkzKK6c1"></script>


    <link href="/Content/Site.css" rel="stylesheet" />
    <link href="/Content/shop-cart/assets/css/bootstrap.css" rel="stylesheet" />

    <link href="/Content/shop-cart/assets/font-awesome/css/font-awesome.css" rel="stylesheet" />

	         {% comment  %} 
    <a href="/Content/shop-cart/assets/ico/favicon.ico">~/Content/shop-cart/assets/ico/favicon.ico</a>
	         {% endcomment %} 

    <script src="/Scripts/storeManagement.js"></script>


    

   </head>
   <body>
   
    

	 

    <span id="MetaKeywords">
 
    </span>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="topNav">
            <div class="container">
                <div class="alignR">
                    <div class="pull-left socialNw">
                        <a href="#"><span class="icon-twitter"></span></a>
                        <a href="#"><span class="icon-facebook"></span></a>
                        <a href="#"><span class="icon-youtube"></span></a>
                        <a href="#"><span class="icon-tumblr"></span></a>
                    </div>
                    <a class="active" href="index.html"><span class="icon-home"></span>Home</a>
                    <a href="#"><span class="icon-user"></span>My Account</a>
                    <a href="register.html"><span class="icon-edit"></span>Free Register </a>
                    <a href="contact.html"><span class="icon-envelope"></span>Contact us</a>
                    <a href="cart.html"><span class="icon-shopping-cart"></span>2 Item(s) - <span class="badge badge-warning">$448.42</span></a>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div id="gototop"></div>
        <header id="header">
            <div class="row">
                <div class="span4">
                    <h1>
                        <a class="logo" href="index.html"><span>Twitter Bootstrap ecommerce template</span>
                            <img src="../../Content/shop-cart/assets/img/logo-bootstrap-shoping-cart.png" alt="bootstrap sexy shop">
                        </a>
                    </h1>
                </div>
                <div class="span4">
                    <div class="offerNoteWrapper">
                        <h1 class="dotmark">
                            <i class="icon-cut"></i>
                            Twitter Bootstrap shopping cart HTML template is available  
                        </h1>
                    </div>
                </div>
                <div class="span4 alignR">
                    <p>
                        <br>
                        <strong>Support (24/7) :  0800 1234 678 </strong>
                        <br>
                        <br>
                    </p>
                    <span class="btn btn-mini">[ 2 ] <span class="icon-shopping-cart"></span></span>
                    <span class="btn btn-warning btn-mini">$</span>
                    <span class="btn btn-mini">&pound;</span>
                    <span class="btn btn-mini">&euro;</span>
                </div>
            </div>
        </header>

        <!--
Navigation Bar Section 
-->
        <div class="navbar">
            <div class="navbar-inner">
                <div class="container">
                    <a data-target=".nav-collapse" data-toggle="collapse" class="btn btn-navbar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </a>
                    <div class="nav-collapse">
                        <ul class="nav">
                      	  {% block sidebar %} 
            {% for item in model.navigations %}
 <li>
     <a class='storenavigation' href='{{ item.link }}'> {{ item.name }} </a> 
	 </li>

{% endfor %}
         {% endblock %} 
                        </ul>
                        <form action="#" class="navbar-search pull-left">
                            <input type="text" placeholder="Search" class="search-query span2">
                        </form>
                        <ul class="nav pull-right">
                            <li class="dropdown">
                                <a data-toggle="dropdown" class="dropdown-toggle" href="#"><span class="icon-lock"></span>Login <b class="caret"></b></a>
                                <div class="dropdown-menu">
                                    <form class="form-horizontal loginFrm">
                                        <div class="control-group">
                                            <input type="text" class="span2" id="inputEmail" placeholder="Email">
                                        </div>
                                        <div class="control-group">
                                            <input type="password" class="span2" id="inputPassword" placeholder="Password">
                                        </div>
                                        <div class="control-group">
                                            <label class="checkbox">
                                                <input type="checkbox">
                                                Remember me
                                            </label>
                                            <button type="submit" class="shopBtn btn-block">Sign in</button>
                                        </div>
                                    </form>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

    <div id="content"> 
	     {% block content %}
           {% endblock %} </div>



        <footer class="footer">
       <div id="footer"> 
	   {% block footer %}
	   	   {% include "footer" %}
           {% endblock %} 

	   </div>
        </footer>


    </div>








 
</body>


</html>