@model  List<StoreManagement.Data.Entities.StoreCarousel>

<div id="myCarousel" class="carousel slide homCar">
    <div class="carousel-inner">
        @{
            foreach (var item in Model)
            {
            <span>
                @Html.Partial("pStoreCarousel", item)
            </span>
            }
        }
    </div>
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a>
</div>
