<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://yucetest.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>yucetest.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>yucetest</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$yucetest</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:qza47mdslm.database.windows.net,1433;Initial Catalog=Stores;User ID=videoUser@qza47mdslm;Password=MarineLink10010;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" Name="Server=tcp:qza47mdslm.database.windows.net,1433;Database=Stores;User ID=videoUser@qza47mdslm;Password=MarineLink10010;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=(LocalDb)\v11.0;AttachDbFilename=|DataDirectory|\aspnet-StoreManagement-20150427202435.mdf;Initial Catalog=aspnet-StoreManagement-20150427202435;Integrated Security=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\DefaultConnection_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=(LocalDb)\v11.0;Initial Catalog=aspnet-StoreManagement-20150427202435;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnet-StoreManagement-20150427202435.mdf" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="Stores" Order="2" Enabled="False">
          <Destination Path="Data Source=tcp:qza47mdslm.database.windows.net,1433;Initial Catalog=Stores;User ID=videoUser@qza47mdslm;Password=MarineLink10010;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" Name="Server=tcp:qza47mdslm.database.windows.net,1433;Database=Stores;User ID=videoUser@qza47mdslm;Password=MarineLink10010;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=devsqlserver;Initial Catalog=TestEY_2;Integrated Security=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\Stores_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="data source=devsqlserver;Integrated Security=SSPI;Initial Catalog=TestEY_2" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Server=tcp:qza47mdslm.database.windows.net,1433;Database=Stores;User ID=videoUser@qza47mdslm;Password=MarineLink10010;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)Stores-Web.config Connection String">
      <ParameterValue>Server=tcp:qza47mdslm.database.windows.net,1433;Database=Stores;User ID=videoUser@qza47mdslm;Password=MarineLink10010;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>