@using StoreManagement.Data.GeneralHelper
@model StoreManagement.Data.Entities.Setting
@{
 
    var storeSettingTitle = ViewData["StoreSettingTitle"].ToStr();
    var isHtmlEditor = ViewData["IsHtmlEditor"].ToBool();
}

<h2>
    @storeSettingTitle
</h2>

<div class="row">
    <div class="col-md-12">
  
        @Html.TextAreaFor(model => Model.SettingValue, 
        new { @class = "form-control"
            , @data_setting_id = String.Format("{0}", Model.Id) 
          , @data_setting_key = String.Format("{0}", Model.SettingKey)
          , @data_setting_html_editor=String.Format("{0}", isHtmlEditor)
           })
    </div>
</div>

