
<input type="button" id="ImageDialog" value="Select Images from Image Gallery" />

<div id="dialog-message"  style="display: none;" title="Image Gallery">
    <div id="SelectedImageGallery" class="row">
        
    </div>
    <h1>Filter demo</h1>
    <p>
        Filter images:
    <input id="filter" name="filter" size="40" />
        <span class="count">showing <span id="filter-count">0</span>
            of <span id="image-count">0</span> images</span>
    </p>

    <div id="flickr-photos" class="filtered row">
        <span class="loading">
            <img src="/image/loading.gif">
            Loading images...
        </span>
    </div>

</div>


 