@{
    ViewBag.Title = "Index";
 
}
 
<div class="col-md-12">
    <div class="row">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="text-muted bootstrap-admin-box-title">Alerts</div>
            </div>
            <div class="bootstrap-admin-panel-content">

                <h2>Images</h2>

                <div class="row">
                    @Html.Action("StoresDropDown", "Stores")
                </div>
                <div class="row" style=" margin: 2px;">
                    <div class="col-md-6">
                        @using (Html.BeginForm("UploadImages", "FileManager", FormMethod.Get))
                        {

                            <input type="hidden" id="tempStoreId2" name="storeId"/>
                            <div class="row" style="border: blue 1px solid; margin: 2px;">
                                <div class="col-md-12">
                                    <a href="/FileManager/UploadImages">
                                        <img alt="Upload Images" class="center-block" src="../../Content/uploadImages.jpg" alt=""/>
                                    </a>
                                </div>
                                <div class="col-md-12">
                                    <p>
                                        <input type="submit" value="Upload Images" class="btn btn-primary btn-block"/>
                                    </p>
                                </div>
                            </div>



                        }
                    </div>
                    <div class="col-md-6">
                        @using (Html.BeginForm("DisplayImages", "FileManager", FormMethod.Get))
                        {
                            <input type="hidden" id="tempStoreId" name="storeId"/>


                            <div class="row" style="border: blue 1px solid; margin: 2px;">
                                <div class="col-md-12">
                                    <a href="/FileManager/DisplayImages">
                                        <img alt="Display Images" class="center-block" src="../../Content/displayImages.jpg" alt=""/>
                                    </a>
                                </div>
                                <div class="col-md-12">
                                    <p>
                                        <input type="submit" value="Display Images" class="btn btn-primary btn-block"/>
                                    </p>
                                </div>
                            </div>


                        }
                    </div>


                </div>
                <div class="row" style="margin: 2px;">


                  
                     <div class="col-md-6">
                        @using (Html.BeginForm("UploadImages", "FileManager", FormMethod.Get))
                        {
                            
                            <input type="hidden" id="tempStoreId2" name="storeId" />
                            <div class="row"  style="border: brown 1px solid; margin: 2px;">
                                <div class="col-md-12">
                                    <a  href="/FileManager/UploadImages">
                                        <img alt="Upload Images" class="center-block" src="../../Content/uploadImages.jpg" alt="" />
                                    </a>
                                </div>
                                <div class="col-md-12">
                                    <p>
                                        <input type="submit" value="Upload Documents" class="btn btn-primary btn-block" />
                                    </p>
                                </div>
                            </div>
                       
                          
                            
                        }
                    </div>
                        <div class="col-md-6">
                            @using (Html.BeginForm("DisplayImages", "FileManager", FormMethod.Get))
                            {
                                <input type="hidden" id="tempStoreId" name="storeId"/>


                                <div class="row" style="border: brown 1px solid; margin: 2px;">
                                    <div class="col-md-12">
                                        <a href="/FileManager/DisplayImages">
                                            <img alt="Display Images" class="center-block" src="../../Content/displayImages.jpg" alt=""/>
                                        </a>
                                    </div>
                                    <div class="col-md-12">
                                        <p>
                                            <input type="submit" value="Display Documents" class="btn btn-primary btn-block"/>
                                        </p>
                                    </div>
                                </div>


                            }
                        </div>

                       </div>
            </div>
        </div>
    </div>
</div>


@section scripts
{


    <script>


        $(document).ready(function () {

            //$("#tempStoreId").val($('select#StoreDropDownId').val());
            //$("#tempStoreId2").val($('select#StoreDropDownId').val());
            //$('select#StoreDropDownId').select2({}).change(function (event) {
              
            //});
            



            if ($('select#StoreDropDownId').length > 0) {


                $('select#StoreDropDownId').select2({});
                var adminDropDown = $('select#StoreDropDownId').select2('data');

                var theID = adminDropDown[0].id;
                var theSelection = adminDropDown[0].text;
                $("#tempStoreId").val(theID);
                $("#tempStoreId2").val(theID);
                
                $('select#StoreDropDownId').select2({}).change(function (event) {

                    adminDropDown = $('select#StoreDropDownId').select2('data');
                    theID = adminDropDown[0].id;
                    theSelection = adminDropDown[0].text;
                    $("#tempStoreId").val(theID);
                    $("#tempStoreId2").val(theID);
                });


            }



        });

    </script>




}
