<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <!-- 
  See https://github.com/nlog/nlog/wiki/Configuration-file 
  for information on customizing logging rules and outputs.
   -->
  <variable name="applicationName" value="StoreManagement"></variable>
  <variable name="basedir" value="C:\nLogs"></variable>
  <variable name="verbose" value="${longdate} | ${uppercase:${level}} | ${machinename} | ${processid} | ${processname} | ${logger} | ${message}  | ${message} | ${exception} | ${exception:format=StackTrace} "/>

  <targets>
    <!-- add your targets here -->


    <target xsi:type="File" name="f" fileName="${basedir}/logs/${applicationName}_${shortdate}.log"
            layout="${verbose}" />


    <!--<target xsi:type="Database" name="accessDb" dbProvider="oledb">
      --><!--<commandText>insert into LogTable(message,time_stamp) values(@message,@time_stamp);</commandText>--><!-- 
      --><!--<parameter name="@message" layout="${message}" />
      <parameter name="@time_stamp" layout="${date}" />--><!--
      <connectionString>Provider=Microsoft.Jet.OLEDB.4.0;Data Source=C:\temp\access.mdb;User Id=admin;Password=;</connectionString>
       <commandText>
        insert into LogTable(log_date,log_level,log_logger,log_message,log_application,log_machine_name, log_user_name, log_call_site, log_thread, log_exception, log_stacktrace) values(@time_stamp, @level, @logger, @message,@log_application,@machinename, @user_name, @call_site, @threadid, @log_exception, @stacktrace);
      </commandText>
      <parameter name="@time_stamp" layout="${longdate}"/>
      <parameter name="@level" layout="${level}"/>
      <parameter name="@logger" layout="${logger}"/>
      <parameter name="@message" layout="${message}"/>
      <parameter name="@machinename" layout="${machinename}"/>
      <parameter name="@user_name" layout="${windows-identity:domain=true}"/>
      <parameter name="@call_site" layout="${callsite:filename=true}"/>
      <parameter name="@log_application" layout="Maritime Jobs"/>
      <parameter name="@threadid" layout="${threadid}"/>
      <parameter name="@log_exception" layout="${exception}"/>
      <parameter name="@stacktrace" layout="${exception:format=StackTrace}"/>


    </target>

    --><!--<logger name="*" minlevel="Trace" writeTo="accessDb" />-->



  </targets>

  <rules>
    <!-- add your logging rules here -->


    <logger name="*" minlevel="Trace" writeTo="f" />

  </rules>
</nlog>

