 
input.GridOrderingTextbox {
  max-width: 30px;
  width: 35px;
  margin-left: 5px;
  margin-top: 2px;
  text-align: center;
  line-height: 20px;
  max-height:30px;
  /* height: 20px; */
}/* Your grid header column style */
.grid-header
{
    background-color: rgb(217, 231, 255);
    border: none;
    text-align: left;
    font-weight: bold;
    font-size: 15px;
    padding: 4px;
    color:Black;
}
.grid-header-title a
{
    text-align: left;
    font-weight: bold;
    font-size: 15px;
    padding: 4px;
    color:Black;
}
.gridChecked  {
    background-color: aqua  !important;
}