
 
input.GridOrderingTextbox {
  max-width: 30px;
  width: 35px;
  margin-left: 5px;
  margin-top: 2px;
  text-align: center;
  line-height: 20px;
  max-height:30px;
  /* height: 20px; */
}/* Your grid header column style */
.grid-header
{
    background-color: rgb(217, 231, 255);
    border: none;
    text-align: left;
    font-weight: bold;
    font-size: 15px;
    padding: 4px;
    color:Black;
}
.grid-header-title a
{
    text-align: left;
    font-weight: bold;
    font-size: 15px;
    padding: 4px;
    color:Black;
}
.gridChecked  {
    background-color: aqua  !important;
}

.container-full {
  margin: 0 auto;
  width: 100%;
}

div .roleradio.selected {
  border: #50B346 solid 3px;
}

div .roleradio {
  border: #385F8D solid 3px;
  margin: 0 10px 0 0;
  padding: 0;
}
.divider-vertical {
    height: floor(@navbar-height - @navbar-margin-bottom);
    margin: floor(@navbar-margin-bottom / 2) 9px;
    border-left: 1px solid #f2f2f2;
    border-right: 1px solid #ffffff;
}
.navbar-default .navbar-nav > li > a {
    color: black;
    font-size: 1.2em;
    font-weight: bold;
}
.navbar-default .navbar-nav > li > a:hover {
  color: #8B1313;
  font-size: 1.2em;
  font-weight: bold;
}
.navbar-default .navbar-nav > li:hover {
  background-color: #EFD7D7;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li  > a {
    color: black;
    font-size: 1.2em;
    font-weight: bold;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li  > a:hover {
  color: #8B1313;
  font-size: 1.2em;
  font-weight: bold;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li:hover {
  background-color: #EFD7D7;
}
.navbar-default {
    background-image: linear-gradient(to bottom, #fff 0%, #C4D7D8 100%);
}
 .navbar .divider-vertical {
	height: 40px;
	margin: 0 9px;
	border-left: 1px solid #f2f2f2;
	border-right: 1px solid #ffffff;
}