@using StoreManagement.Data.Entities
@model List<StoreManagement.Data.Entities.Store>
@{
    int storeId = (int)ViewBag.StoreId;
    var loginStore = (int)ViewBag.LoginStoreId;
    bool isSuperAdmin = (bool)ViewBag.IsSuperAdmin;

    List<SelectListItem> storesListItems = new List<SelectListItem>();
    if (isSuperAdmin)
    {
        storesListItems = Model.ToList().Select(c => new SelectListItem
            {
                Text = c.Name.Equals(c.Domain,StringComparison.InvariantCultureIgnoreCase) ? c.Name : c.Name +"  "+c.Domain,
                Value = c.Id.ToString(),
                Selected = c.Id == storeId ? true : false
            }).ToList();

    }
    else
    {
        storeId = loginStore;
    }

}


<input type="hidden" name="StoreId" value="@storeId" id="StoreId"/>

@if (isSuperAdmin)
{
    
    <div class="row">
          <div class="col-md-12">
            <h3>Selected Store: <span class="text-danger" id="SelectedStoreText"></span></h3>
        </div>
        <div class="col-md-12">
            @Html.DropDownList("StoreDropDownId", storesListItems,new{@class="form-control"})
        </div>
      
    </div>
   


}


