@using StoreManagement.Data.GeneralHelper
@model IEnumerable<StoreManagement.Data.Entities.Store>
@{
    String actionName = ViewBag.ActionName;
    String controllerName = ViewBag.ControllerName;
    bool isSuperAdmin = ViewBag.IsSuperAdmin;



    int storeId = Request.QueryString["storeId"].ToInt();
    List<SelectListItem> storesListItems = new List<SelectListItem>();
    storesListItems.Add(new SelectListItem() { Text = "Select a Store", Value = "0" });

    var items = Model.ToList().Select(c => new SelectListItem
           {
               Text = c.Name.Equals(c.Domain, StringComparison.InvariantCultureIgnoreCase) ? c.Name : c.Name + "  " + c.Domain,
               Value = c.Id.ToString(),
               Selected = c.Id == storeId ? true : false
           }).ToList();

    storesListItems.AddRange(items);

}

@if (isSuperAdmin)
{
    
    
    
@*    
    <b>Store Filters   :
    </b>
    @Html.ActionLink("All", actionName, controllerName, new {storeId = 0}, new {@class = String.Format("btn {0}",0 == storeId ? "btn-danger" : "btn-default")})   @:|
    foreach (var t in Model)
    {
    @Html.ActionLink(t.Name, actionName, controllerName, new {storeId = t.Id}, new {@class = String.Format("btn {0}",t.Id == storeId ? "btn-danger" : "btn-default")})
    }
 *@
    
    
       
    
    
 
  
        <div class="row">
            <div class="col-md-12">
                <h3>Selected Store: <span class="text-danger" id="AdminSelectedStoreText"></span></h3>
            </div>
            <div class="col-md-12">
                @Html.DropDownList("StoreAdminDropDownId", 
                storesListItems, 
                new { @class = "form-control"})
            </div>

        </div>
 



}


