
@{
    ViewBag.Title = "Index";
}

 
<!-- Titlebar
================================================== -->
<section class="titlebar">
<div class="container">
	<div class="sixteen columns">
		<h2>Shopping Cart</h2>
		
		<nav id="breadcrumbs">
			<ul>
				<li><a href="#">Home</a></li>
				<li>Shopping Cart</li>
			</ul>
		</nav>
	</div>
</div>
</section>


<div class="container cart">

	<div class="sixteen columns">

		<!-- Cart -->
		<table class="cart-table responsive-table">

			<tr>
				<th>Item</th>
				<th>Description</th>
				<th>Price</th>
				<th>Quantity</th>
				<th>Total</th>
				<th></th>
			</tr>
					
			<!-- Item #1 -->
			<tr>
				<td><img src="~/Images/small_product_list_08.jpg" alt=""/></td>
				<td class="cart-title"><a href="#">Converse All Star Trainers</a></td>
				<td>$79.00</td>
				<td>
					<form action='#'>
						<div class="qtyminus"></div>
						<input type='text' name="quantity" value='1' class="qty" />
						<div class="qtyplus"></div>
					</form>
				</td>
				<td class="cart-total">$79.00</td>
				<td><a href="#" class="cart-remove"></a></td>
			</tr>

			<!-- Item #2 -->
			<tr>
				<td><img src="~/Images/small_product_list_09.jpg" alt=""/></td>
				<td class="cart-title"><a href="#">Wool Two-Piece Suit</a></td>
				<td>$99.00</td>
				<td>
					<form action='#'>
						<div class="qtyminus"></div>
						<input type='text' name="quantity" value='1' class="qty" />
						<div class="qtyplus"></div>
					</form>
					</td>
					<td class="cart-total">$99.00</td>
					<td><a href="#" class="cart-remove"></a></td>
				</tr>

			</table>

			<!-- Apply Coupon Code / Buttons -->
			<table class="cart-table bottom">

				<tr>
				<th>
					<form action="#" method="get" class="apply-coupon">
						<input class="search-field" type="text" placeholder="Coupon Code" value=""/>
						<a href="#" class="button gray">Apply Coupon</a>
					</form>

					<div class="cart-btns">
						<a href="checkout-billing-details.html" class="button color cart-btns proceed">Proceed to Checkout</a>
						<a href="#" class="button gray cart-btns">Update Cart</a>
					</div>
				</th>
				</tr>

			</table>
	</div>


	<!-- Cart Totals -->
	<div class="eight columns cart-totals">
		<h3 class="headline">Cart Totals</h3><span class="line"></span><div class="clearfix"></div>

		<table class="cart-table margin-top-5">

			<tr>
				<th>Cart Subtotal</th>
				<td><strong>$178.00</strong></td>
			</tr>

			<tr>
				<th>Shipping and Handling</th>
				<td>Free Shipping</td>
			</tr>

			<tr>
				<th>Order Total</th>
				<td><strong>$178.00</strong></td>
			</tr>

		</table>
		<br>
		<!-- <a href="#" class="calculate-shipping"><i class="fa fa-arrow-circle-down"></i> Calculate Shipping</a> -->
	</div>

</div>

<div class="margin-top-40"></div>