@using StoreManagement.Data.GeneralHelper


@{
    var userEmail = ViewData["userEmail"].ToStr();
    var returnUrl = ViewData["ReturnUrl"].ToStr();
}

@using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <span style="color: red;">@Html.Raw(TempData["Message"])</span>
    <div class="row">
        <div class="col-md-2">
            <img width="120" height="70" src="@Url.Action("GetCaptcha", "Images", new { prefix = "ForgotPassword" })" alt="Captcha"/>
        </div>
        <div class="col-md-12">
            <label for="Captcha">Captcha</label>
            <input class="form-control" id="Captcha" name="Captcha" type="text" value="">
            <span class="field-validation-valid" data-valmsg-for="Captcha" data-valmsg-replace="true"></span>
        </div>
        <div class="col-md-12">
            <div class="form-group">
                @Html.TextBox("UserName", userEmail, new { @class = "form-control", @placeholder = "Type email address to recover your password." })
            </div>
        </div>
        <div class="col-md-12">
            <button type="submit" class="btn btn-primary btn-block">Send Mail</button>
        </div>
    </div>
}

