<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <!-- 
  See https://github.com/nlog/nlog/wiki/Configuration-file 
  for information on customizing logging rules and outputs.
   -->
  <variable name="applicationName" value="StoreManagement_Client"></variable>
  <variable name="basedir" value="C:\nLogs"></variable>
  <variable name="verbose" value="${longdate} | ${uppercase:${level}} | ${machinename} | ${processid} | ${processname} | ${logger} | ${message}  | ${exception} | ${exception:format=StackTrace} "/>

  <targets>
    <!-- add your targets here -->


    <!--<target xsi:type="File" name="f" fileName="${basedir}/logs/${applicationName}_${shortdate}.log"
            layout="${verbose}" />-->

 
    
  </targets>

  <rules>
    <!-- add your logging rules here -->

 
    <!--<logger name="*" minlevel="Trace" writeTo="f" />-->

  </rules>
</nlog>

