@using StoreManagement.Data.GeneralHelper
@model StoreManagement.Data.Entities.Category
<div>
    <b>
        @Html.ActionLink(Model.Name,"Category","Categories",new { id=String.Format("{0}-{1}",GeneralHelper.GetUrlSeoString(Model.Name), Model.Id) }, new {@class="btn btn-default"})
    </b>
        @foreach (var c in Model.Contents.OrderByDescending(r => r.Id).Take(10))
        {
           @Html.DisplayFor(modelItem => c, "ContentItem")
        }  
</div>
