@using StoreManagement.Data.GeneralHelper
@model StoreManagement.Data.Entities.Content
<div>
    <b style="color:red"> 
            @Html.ActionLink(Model.Name,"Detail","Contents",
            new { id= String.Format("{0}-{1}",
                GeneralHelper.GetUrlSeoString(Model.Name), Model.Id) },
                new {@class="linkStyle"})
    </b>
        @foreach (var c in Model.ContentFiles.OrderByDescending(r => r.Id).Take(5))
        {
            <div>
                <img src="@c.FileManager.Title" alt="Smiley face" height="42" width="42">
            </div>
        }  
</div>
