@model StoreManagement.Data.Entities.FileManager
@{
    var image = Model;
}
<div>
    <img src="@Url.Action("FetchImage", "Images", new { id = image.GoogleImageId, size = "", contentType = image.ContentType })"   alt="">
</div>