@using MvcPaging
@using StoreManagement.Data.GeneralHelper
@model Dictionary<String, String>
@{
    ViewBag.Title = "Index";
    Dictionary<String, String> outputDic = Model;
            
}

<!-- Content
================================================== -->

<!-- Container -->
<div class="container">


    
    <!-- Masonry Wrapper-->
    @Html.Raw(outputDic["PageOutput"])


   


</div>
<!-- Container / End -->
 