@using StoreManagement.Data.GeneralHelper
@model StoreManagement.Data.RequestModel.ContentDetailViewModel
@{
    var relatedContents = Model.RelatedContents;
}

@foreach (var e in relatedContents)
{
    <div>
        @e.Name  
    </div>
}
