<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <!-- 
  See https://github.com/nlog/nlog/wiki/Configuration-file 
  for information on customizing logging rules and outputs.
   -->
  <variable name="applicationName" value="StoreManagement"></variable>
  <variable name="basedir" value="C:\nLogs"></variable>
  <variable name="verbose" value="${longdate} | ${uppercase:${level}} | ${machinename} | ${processid} | ${processname} | ${logger} | ${message}  | ${message} | ${exception} | ${exception:format=StackTrace} "/>

  <targets>
    <!-- add your targets here -->





    <target type='WebService'
            name='ws'
            url='http://yuce.marinelink.org/api/logme/Post'
            protocol='HttpPost'
            encoding='UTF-8'   >
      
      <parameter name="entered_date"  type='System.String'  layout="${longdate}"/>
      <parameter name="log_date"  type='System.String'  layout="${longdate}"/>
      <parameter name="log_level"  type='System.String'  layout="${level}"/>
      <parameter name="log_logger"  type='System.String'  layout="${logger}"/>
      <parameter name="log_message"  type='System.String'  layout="${message}"/>
      <parameter name="log_machine_name"  type='System.String'  layout="${machinename}"/>
      <parameter name="log_user_name"  type='System.String'  layout="${windows-identity:domain=true}"/>
      <parameter name="log_call_site"  type='System.String'  layout="${callsite:filename=true}"/>
      <parameter name="log_application"  type='System.String'  layout="StoreManagement.Liquid WS"/>
      <parameter name="log_thread"  type='System.String'  layout="${threadid}"/>
      <parameter name="log_exception"  type='System.String'  layout="${exception:innerFormat=Message,StackTrace}"/>
      <parameter name="log_stacktrace"  type='System.String'  layout="${exception:format=StackTrace}"/>
        
    </target>



    <target xsi:type="File" name="f" fileName="${basedir}/logs/${applicationName}_${shortdate}.log"
            layout="${verbose}" />



    <target name="database"   type="Database">
      <connectionString>
        data source=devsqlserver;Integrated Security=SSPI;Initial Catalog=TestEY_2;
      </connectionString>
      <commandText>
        insert into dbo.system_logging(log_date,log_level,log_logger,log_message,log_application,log_machine_name, log_user_name, log_call_site, log_thread, log_exception, log_stacktrace) values(@time_stamp, @level, @logger, @message,@log_application,@machinename, @user_name, @call_site, @threadid, @log_exception, @stacktrace);
      </commandText>
      <parameter name="@time_stamp" layout="${longdate}"/>
      <parameter name="@level" layout="${level}"/>
      <parameter name="@logger" layout="${logger}"/>
      <parameter name="@message" layout="${message}"/>
      <parameter name="@machinename" layout="${machinename}"/>
      <parameter name="@user_name" layout="${windows-identity:domain=true}"/>
      <parameter name="@call_site" layout="${callsite:filename=true}"/>
      <parameter name="@log_application" layout="StoreManagement.Liquid"/>
      <parameter name="@threadid" layout="${threadid}"/>
      <parameter name="@log_exception" layout="${exception:format=tostring}"/>
      <parameter name="@stacktrace" layout="${exception:format=StackTrace}"/>
    </target>


  </targets>

  <rules>

    <logger name='*'  minlevel="Error"  writeTo='ws'></logger>
    <!-- add your logging rules here -->

    <!--<logger name="*" minlevel="Trace" appendTo="database"/>-->
    <!--<logger name="*" minlevel="Trace" writeTo="f" />-->

  </rules>
</nlog>

