
@{
    ViewBag.Title = "Index";
}
 
<!-- Titlebar
================================================== -->
<section class="titlebar">
<div class="container">
	<div class="sixteen columns">
		<h2>Shop</h2>
		
		<nav id="breadcrumbs">
			<ul>
				<li><a href="#">Home</a></li>
				<li><a href="#">Products</a></li>
				<li>Categories</li>
			</ul>
		</nav>
	</div>
</div>
</section>


<div class="container product-categories">

	<!-- Category #1 -->
	<div class="four columns">
		<a href="#" class="img-caption" >
			<figure>
				<img src="images/product_category_01.jpg" alt="" />
				<figcaption>
					<h3>Discounted</h3>
					<span>Browse Products</span>
				</figcaption>
			</figure>
		</a>
	</div>

	<!-- Category #2 -->
	<div class="four columns">
		<a href="#" class="img-caption" >
			<figure>
				<img src="images/product_category_02.jpg" alt="" />
				<figcaption>
					<h3>Suits</h3>
					<span>Browse Products</span>
				</figcaption>
			</figure>
		</a>
	</div>

	<!-- Category #3 -->
	<div class="four columns">
		<a href="#" class="img-caption" >
			<figure>
				<img src="images/product_category_03.jpg" alt="" />
				<figcaption>
					<h3>Footwear</h3>
					<span>Browse Products</span>
				</figcaption>
			</figure>
		</a>
	</div>

	<!-- Category #4 -->
	<div class="four columns">
		<a href="#" class="img-caption" >
			<figure>
				<img src="images/product_category_04.jpg" alt="" />
				<figcaption>
					<h3>Outdoor</h3>
					<span>Browse Products</span>
				</figcaption>
			</figure>
		</a>
	</div>

	<!-- Category #5 -->
	<div class="four columns">
		<a href="#" class="img-caption" >
			<figure>
				<img src="images/product_category_05.jpg" alt="" />
				<figcaption>
					<h3>Gifts</h3>
					<span>Browse Products</span>
				</figcaption>
			</figure>
		</a>
	</div>

	<!-- Category #6 -->
	<div class="four columns">
		<a href="#" class="img-caption" >
			<figure>
				<img src="images/product_category_06.jpg" alt="" />
				<figcaption>
					<h3>Accessories</h3>
					<span>Browse Products</span>
				</figcaption>
			</figure>
		</a>
	</div>

</div>





<!-- Container -->
<div class="container">
	<div class="sixteen columns">

		<div class="info-banner">
			<div class="info-content">
				<h3>Perfect Template for Showing Your Products</h3>
				<p>Trizzy is a premium template created for ecommerce and business websites</p>
			</div>
			<a href="#" class="button color">Get This Theme</a>
			<div class="clearfix"></div>
		</div>

	</div>
</div>
<!-- Container / End -->