
@{
    ViewBag.Title = "Faq";
}
 


<!-- Titlebar
================================================== -->
<section class="titlebar">
<div class="container">
	<div class="sixteen columns">
		<h2>FAQ</h2>
		
		<nav id="breadcrumbs">
			<ul>
				<li><a href="#">Home</a></li>
				<li>FAQ</li>
			</ul>
		</nav>
	</div>
</div>
</section>


<!-- Content
================================================== -->

<!-- Container -->
<div class="container">
	<div class="sixteen columns">
		<h3 class="headline">Frequently Asked Questions</h3><span class="line margin-bottom-25"></span><div class="clearfix"></div>
	<p>Aliquam posuere erat et orci eleifend cursus. Nullam tempus odio sem, lacinia pellentesque neque mollis a. In ut tempor ligula. Vestibulum ultricies bibendum lorem, a sollicitudin tellus euismod vel. Nam suscipit, diam ut volutpat lobortis, nibh ipsum tempor nibh, a vehicula tellus justo id nibh. Nulla pretium mollis convallis. Phasellus a nibh aliquet, ullamcorper quam aliquam, faucibus nulla. Phasellus mollis tristique vehicula. Vivamus sagittis, sem sed posuere aliquet, massa odio lobortis.</p>
	</div>
</div>
<!-- Container / End -->

<br />

<!-- Container -->
<div class="container margin-bottom-10">

	<!-- Toggles -->
	<div class="twelve columns">
	<div class="extra-padding">

		<!-- Toggle 1 -->
		<div class="toggle-wrap faq">
			<span class="trigger opened"><a href="#"><i class="toggle-icon"></i> What is a Premium Theme? </a></span>
			<div class="toggle-container">
				<p>Perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam. Donec ut volutpat metus. Vivamus justo arcu, elementum a sollicitudin pellentesque, tincidunt ac enim. Proin id arcu ut ipsum vestibulum elementum.</p>
			</div>
		</div>

		<!-- Toggle 2 -->
		<div class="toggle-wrap faq">
			<span class="trigger"><a href="#"><i class="toggle-icon"></i> How much does it cost?</a></span>
			<div class="toggle-container">
				<p>Seded ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam. Donec ut volutpat metus. Aliquam tortor lorem, fringilla tempor dignissim at, pretium et arcu.</p>
			</div>
		</div>

		<!-- Toggle 3 -->
		<div class="toggle-wrap faq">
			<span class="trigger"><a href="#"><i class="toggle-icon"></i> Why should I purchase a Premium Theme?</a></span>
			<div class="toggle-container">
				<p>Seded ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam. Donec ut volutpat metus. Aliquam tortor lorem, fringilla tempor dignissim at, pretium et arcu.</p>
			</div>
		</div>

		<!-- Toggle 4 -->
		<div class="toggle-wrap faq">
			<span class="trigger"><a href="#"><i class="toggle-icon"></i> Where can I get support?</a></span>
			<div class="toggle-container">
				<p>Seded ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam. Donec ut volutpat metus. Aliquam tortor lorem, fringilla tempor dignissim at, pretium et arcu.</p>
			</div>
		</div>

		<!-- Toggle 5 -->
		<div class="toggle-wrap faq">
			<span class="trigger"><a href="#"><i class="toggle-icon"></i> How important is branding in a website?</a></span>
			<div class="toggle-container">
				<p>Seded ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam. Donec ut volutpat metus. Aliquam tortor lorem, fringilla tempor dignissim at, pretium et arcu.</p>
			</div>
		</div>

		<!-- Toggle 6 -->
		<div class="toggle-wrap faq">
			<span class="trigger"><a href="#"><i class="toggle-icon"></i> What is a User Interface?</a></span>
			<div class="toggle-container">
				<p>Seded ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam. Donec ut volutpat metus. Aliquam tortor lorem, fringilla tempor dignissim at, pretium et arcu.</p>
			</div>
		</div>

		<!-- Toggle 7 -->
		<div class="toggle-wrap faq">
			<span class="trigger"><a href="#"><i class="toggle-icon"></i> Why should I use Premium Theme? </a></span>
			<div class="toggle-container">
				<p>Seded ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam. Donec ut volutpat metus. Aliquam tortor lorem, fringilla tempor dignissim at, pretium et arcu.</p>
			</div>
		</div>

	</div>
	</div>
	
	<!-- Sidebar -->
	<div class="four columns">
		<a href="#">
		<div class="content-box color-effect-1">
			<h3>One More Question?</h3>

				<div class="box-icon-wrap box-icon-effect-1 box-icon-effect-1a">
					<div class="box-icon"><i class="fa  fa-mail-forward"></i></div>
				</div>

			<p>If you have more questions, send us a message and we will answer you as soon as possible.</p>
		</div>
		</a>
	</div>

</div>
<!-- Container / End -->
