
@{
    ViewBag.Title = "Services";
}

<h2>Services</h2>



<!-- Titlebar
================================================== -->
<section class="titlebar">
<div class="container">
	<div class="sixteen columns">
		<h2>Our Services</h2>
		
		<nav id="breadcrumbs">
			<ul>
				<li><a href="#">Home</a></li>
				<li>Our Services</li>
			</ul>
		</nav>
	</div>
</div>
</section>


<!-- Content
================================================== -->

<!-- Container -->
<div class="container">
	<div class="sixteen columns">
		<div id="basic-slider" class="royalSlider rsDefault">
			<a href="#"><img class="rsImg" src="images/service.jpg" alt="" /><span class="royal-caption">The New Way To Success</span></a>
		</div>
	</div>
</div>
<!-- Container / End -->


<!-- Container -->
<div class="container margin-top-45">

	<div class="one-third column">

		<!-- Service -->
		<div class="icon-box">
			<span><i class="fa fa-pencil"></i></span>
			<div class="icon-description">
				<h3>Illustration</h3>
				<p>Nam condimentum nec mi aliquam accumsan phasellus nulla lorem gravida.</p>
				<a href="#">More Info</a>
			</div>
		</div>

		<div class="clearfix"></div>

		<!-- Service -->
		<div class="icon-box margin-top-30">
			<span><i class="fa fa-cogs"></i></span>
			<div class="icon-description">
				<h3>Development</h3>
				<p>Suspendisse sollicitudin diam eu leo rhoncus pharetra praesent turpis eget metus.</p>
				<a href="#">More Info</a>
			</div>
		</div>

	</div>

	<div class="one-third column">

		<!-- Service -->
		<div class="icon-box">
			<span><i class="fa fa-lightbulb-o"></i></span>
			<div class="icon-description">
				<h3>User Experience</h3>
				<p>Morbi vitae augue vel nulla pharetra laoreet lorem vitae elit integer tortor justo.</p>
				<a href="#">More Info</a>
			</div>
		</div>

		<div class="clearfix"></div>

		<!-- Service -->
		<div class="icon-box margin-top-30">
			<span><i class="fa  fa-hdd-o"></i></span>
			<div class="icon-description">
				<h3>VPS Server</h3>
				<p>Maecenas consequat pharetra neque duis fringilla nibh justo pharetra imperdiet.</p>
				<a href="#">More Info</a>
			</div>
		</div>

	</div>

	<div class="one-third column">
			<!-- Accordion -->
			<div class="accordion">

				<!-- Section 1 -->
				<h3><span class="ui-accordion-header-icon ui-icon ui-accordion-icon"></span><i class="fa fa-life-saver"></i> Accordion #1</h3>
				<div>
					<p>Mauris mauris ante, blandit et, ultrices a, susceros. Nam mi. Proin viverra leo ut odio. Curabitur malesuada. Vestibulum a velit eu ante scelerisque vulputate aliquam egestas litora torquent conubia.</p>
				</div>

				<!-- Section 2 -->
				<h3><span class="ui-accordion-header-icon ui-icon ui-accordion-icon"></span><i class="fa fa-user"></i> Accordion #2</h3>
				<div>
					<p>Sed non urna. Donec et ante. Phasellus eu ligula. Vestibulum sit amet purus vivamus hendrerit, dolor at aliquet laoreet, mauris turpis porttitor velit, faucibus interdum tellus libero ac justo.</p>
				</div>

				<!-- Section 3 -->
				<h3><span class="ui-accordion-header-icon ui-icon ui-accordion-icon"></span><i class="fa fa-trophy"></i> Accordion #3</h3>
				<div>
					<p>Nam enim risus, molestie et, porta ac, aliquam ac, risus. Quisque lobortis. Phasellus pellentesque purus in massa. Aenean in pede. Phasellus ac libero ac tellus pellentesque semper.</p>
				</div>

			</div>
			<!-- Accordion / End -->
	</div>

</div>
<!-- Container / End -->