@using MvcPaging
@model StoreManagement.Data.RequestModel.ContentsViewModel
@{
    ViewBag.Title = "Index";
}

<h2>Blogs</h2>


<div class="container">

    @if (Model.Contents.Any())
    {
        foreach (var content in Model.Contents)
        {

        <div>
            @Html.DisplayFor(model => content, "BlogContentItem")
        </div>
        }

        @Model.Contents.TotalItemCount
                  
        <div class="pager">
            @Html.Pager(Model.Contents.PageSize, Model.Contents.PageNumber, Model.Contents.TotalItemCount).Options(o => o
                                                                                                                            .DisplayTemplate("BootstrapPagination")
                                                                                                                            .MaxNrOfPages(7)
                                                                                                                            .AlwaysAddFirstPageNumber()
                                                                                                                            .SetPreviousPageText("←")
                                                                                                                            .SetNextPageText("→"))
        </div>
    }


</div>

 