 
<p>
    <link href="/Content/trizzy/style.css" rel="stylesheet" />
    <br />
    <link href="/Content/trizzy/colors/green.css" rel="stylesheet" />
</p>
<p>
    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script src="../../Scripts/Trizzy/jquery.jpanelmenu.js"></script>
    <script src="../../Scripts/Trizzy/jquery.themepunch.plugins.min.js"></script>
    <script src="../../Scripts/Trizzy/jquery.themepunch.revolution.min.js"></script>
    <script src="../../Scripts/Trizzy/jquery.themepunch.showbizpro.min.js"></script>
    <script src="../../Scripts/Trizzy/jquery.magnific-popup.min.js"></script>
    <script src="../../Scripts/Trizzy/hoverIntent.js"></script>
    <script src="../../Scripts/Trizzy/superfish.js"></script>
    <script src="../../Scripts/Trizzy/jquery.pureparallax.js"></script>
    <script src="../../Scripts/Trizzy/jquery.pricefilter.js"></script>
    <script src="../../Scripts/Trizzy/jquery.selectric.min.js"></script>
    <script src="../../Scripts/Trizzy/jquery.royalslider.min.js"></script>
    <script src="../../Scripts/Trizzy/SelectBox.js"></script>
    <script src="../../Scripts/Trizzy/modernizr.custom.js"></script>
    <script src="../../Scripts/Trizzy/waypoints.min.js"></script>
    <script src="../../Scripts/Trizzy/jquery.flexslider-min.js"></script>
    <script src="../../Scripts/Trizzy/jquery.counterup.min.js"></script>
    <script src="../../Scripts/Trizzy/jquery.tooltips.min.js"></script>
    <script src="../../Scripts/Trizzy/jquery.isotope.min.js"></script>
    <script src="../../Scripts/Trizzy/puregrid.js"></script>
    <script src="../../Scripts/Trizzy/stacktable.js"></script>
    <script src="../../Scripts/Trizzy/custom.js"></script>


    