@using StoreManagement.Data.Entities
@model List<StoreManagement.Data.Entities.ProductCategory>
@{
    Layout = null;
}
  
    @CategoryTree(Model, 0)
  
 

@helper CategoryTree(List<ProductCategory> nodes, int? parentId)
{
    
    if (nodes.Any(n => n.ParentId == parentId)) 
    { 
    <ul  @if (parentId == 0)
        {
          @: class='nav navbar-nav'  
        }else{
	
             @: class='dropdown-menu' role='menu' 
		}
		>
        @foreach (var node in nodes.Where(n => n.ParentId == parentId))
        {
            var children = nodes.Any(n => n.ParentId == node.Id);
            <li
                  @if (children)
                  {
                    

                      
                       if (parentId == 0)
        {
            @: class='dropdown'
        }else{
	
              @: class='dropdown-submenu'
		}
                      
                  }
                >
                
                @if (children)
                 {
                   <a  class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"  href=@String.Format("/products/index/{0}",node.ApiCategoryId)>@node.Name </a>
       

                     
                 }
                 else
                 {
                     <a  href=@String.Format("/products/index/{0}",node.ApiCategoryId)>@node.Name </a>
                 }
                        @CategoryTree(nodes, node.Id)
             
            </li>
        }
    </ul>
    }
}

 
 