@using StoreManagement.Data.Entities
@model List<StoreManagement.Data.Entities.ProductCategory>
@{
    Layout = null;
}
 <div   class="treeview" id="tree">
    <ul id="contentTreeview">
    @CategoryTree(Model, 0)
    </ul>
</div>
 

@helper CategoryTree(List<ProductCategory> nodes, int? parentId)
{
    
    if (nodes.Any(n => n.ParentId == parentId)) 
    { 
    <ul>
        @foreach (var node in nodes.Where(n => n.ParentId == parentId)) 
        {
            <li>
                <a href=@String.Format("/products/index/{0}",node.ApiCategoryId)>@node.Name </a>
                @CategoryTree(nodes, node.Id)
            </li>
        }
    </ul>
    }
}

 
 