 
@{
    ViewBag.Title = "DetailRazorPage";
    String template = (String)ViewBag.Template;
}

<h2>DetailRazorPage</h2>
 @using (Html.BeginForm()) {
 
    <textarea name="template">
        @ViewBag.Template
    </textarea> 
      
<p>
 <input  class="btn btn-success btn-block btn-lg" type="submit" value="Create" />
</p>

 }
