@{
    ViewBag.Title = "TestJquery";
}
<div id="contentImages">
</div>

<img src ='@Url.Action("GetPhotoThumbnail", "Images", new { id = 286 })'/>
<img src ='@Url.Action("WatermarkedImage", "Images", new { id = 288 })'/>

