@{
    ViewBag.Title = "TestJquery";
}
<div id="contentImages">
</div>

<img src ='@Url.Action("Thumbnail", "Images", new { id = 249, storeId=3 })'/>
<img src ='@Url.Action("WatermarkedImage", "Images", new { id = 288 })'/>

