@using StoreManagement.Data.Constants
@using StoreManagement.Data.Entities
@using StoreManagement.Data.GeneralHelper
@using StoreManagement.Service.DbContext
@model StoreManagement.Data.Entities.BaseContent

@{
    var actionNameDelete = "Delete";
    var actionNameEdit = "";
    var controllerName = "";
    var isRegularUser = User.IsInRole(StoreConstants.RoleUser);
    
    
        if (Model is Product)
        {
            Product product = (Product)Model;
            actionNameDelete = "Delete";
            actionNameEdit = "SaveOrEdit";
            controllerName = "Products";
        
        }
        else if (Model is Content)
        {
            Content item = (Content)Model;
            if (item.Type == StoreConstants.NewsType)
            {
                actionNameDelete = "Delete";
                actionNameEdit = "SaveOrEdit";
                controllerName = "News";
            }
            else if (item.Type == StoreConstants.BlogsType)
            {
                actionNameDelete = "Delete";
                actionNameEdit = "SaveOrEdit";
                controllerName = "Blogs";
                
            }


        }
    
}
<div class="row">
    <div class="col-md-12">
        <b>
            @Html.DisplayFor(model => model.Name)
        </b>
    </div>
    <div class="col-md-12">
        @GeneralHelper.GetDescription(Model.Description, 200)


        <br/>
        @Html.ActionLink("Edit", actionNameEdit, controllerName, new { id = Model.Id }, new { @class = "btn btn-primary btn-sm     glyphicon glyphicon-pencil glyphicon-white", @target = "_blank" })
        
        @if (!isRegularUser)
        {
              @Html.ActionLink("Delete", actionNameDelete,controllerName, new { id = Model.Id }, new { @class = "btn btn-danger btn-sm    glyphicon glyphicon-trash glyphicon-white", @target = "_blank" })
 
        }
             

    </div>
</div>
