@model StoreManagement.Data.Entities.Company
 
 

<div style="border: 1px  solid black; margin: 5px; padding: 5px;">
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Client)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Client)
        </dd>
    </dl>
</div>
 