<p>Dear @Model.Email, <br>
<br>
A password reset request has been submitted on your behalf at  
<p>If you feel that this has been done in error, delete and
disregard this email. Your account is still secure and no one has been given
access to it. It is not locked and your password has not been reset. Someone
could have mistakenly entered your email address.<br>
<br>
Follow the link below to login and change your password.</p><p><span style="line-height: 1.45em; background-color: initial;">@Raw(Model.Link)</span></p><p>If the&nbsp;<span style="line-height: 1.45em;">above</span><span style="line-height: 1.45em; background-color: initial;">&nbsp;link does not work, try copying and pasting the URL into your browser's address bar</span></p><p>@Model.Url</p><p>
Thank You<br>
E-imece Management</p>
