@using System.Data
@model List<System.Data.DataTable>

@{
    ViewBag.Title = "TotalSpace";
}
               @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-default btn-lg btn-block" })
<h2>Total Space</h2>

@foreach (var item in Model)
{
    @Html.DisplayFor(modelItem => item, "DataTable")
}

