{% extends "Master" %}


 
 {% block title %}
 News  {{ model.store_liquid.Name }}
 
 {% endblock %}  
 

 {% block content %} 
  <h1>

 

   {{ model.content_liquid.name  | remove:'Korean'    | upcase  }}
 
   </h1>

     {{ model.content_liquid.description }}

                {% for item in model.category_liquids %}
 
  {{ item.name }}
	 
	 <br>

{% endfor %}

 
 

 {% endblock %}  