@using MvcPaging
@model StoreManagement.Data.RequestModel.ContentsViewModel
@{
    ViewBag.Title = "Index";

    var contents = Model.SContents;
}

<h2>Index</h2>

<div class="row">

    @if (contents.Any())
    {
        foreach (var product in contents)
        {

        <div>
            @Html.DisplayFor(model => product, "NewsContentItem")
        </div>
        }

        @contents.TotalItemCount
                  
        <div class="pager">

            @Html.Pager(contents.PageSize,contents.PageNumber, contents.TotalItemCount).Options(o => o
                                                                                                                            .DisplayTemplate("BootstrapPagination")
                                                                                                                            .MaxNrOfPages(7)
                                                                                                                            .AlwaysAddFirstPageNumber()
                                                                                                                            .SetPreviousPageText("←")
                                                                                                                            .SetNextPageText("→"))

        </div>
                     
    }

</div>
