@using StoreManagement.Data.Entities
@model List<StoreManagement.Data.Entities.Category>
@{
    Layout = null;
}
 <div   class="treeview" id="tree">
    <ul id="contentTreeview">
    @CategoryTree(Model, 0)
    </ul>
</div>
 

@helper CategoryTree(IEnumerable<Category> nodes, int? parentId)
{
    
    if (nodes.Any(n => n.ParentId == parentId)) 
    { 
    <ul>
        @foreach (var node in nodes.Where(n => n.ParentId == parentId)) 
        {
            <li>
               <span class="btn link" data-category="@node.Id">@node.Name</span>
                @CategoryTree(nodes, node.Id)
            </li>
        }
    </ul>
    }
}

 
 