<!-- main / large navbar -->
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="row">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">Admin Panel</a>
            </div>
            <div class="collapse navbar-collapse main-navbar-collapse">
                <div class="collapse navbar-collapse bootstrap-admin-navbar-sm">
                    <ul class="nav navbar-nav navbar-right ">
                        <li>
                            <a href="#">Settings <i class="glyphicon glyphicon-cog"></i></a>
                        </li>
                        <li>
                            <a href="#">Go to frontend <i class="glyphicon glyphicon-share-alt"></i></a>
                        </li>
                        @Html.Partial("_LoginPartial")
                    </ul>
                </div>
            </div>
        </div>
    </div>
</nav>
