@model StoreManagement.Data.Entities.PageDesign

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>PageDesign</legend>

        @Html.HiddenFor(model => model.Id)
		@Html.Partial("_CreateOrEdit", Model)

        <p>
             <input  class="btn btn-success btn-block btn-lg" type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
                        @Html.ActionLink("Back to List", "Index",null,new{@class="btn btn-default btn-lg btn-block"})
</div>
