{% extends "Master" %}


 
 {% block title %}
 Products
 
 {% endblock %}  
 
  {% block sidebar %} .
     {% for item in model.navigations %}
 
 <div>
     <a href='{{ item.link }}'> {{ item.name }} </a> 
	 </div>
	 
	 

{% endfor %}
  {% endblock %}  
 
 
 {% block content %} 
 <p>
 Test

 
                {% for item in model.products %}
 
 {% assign product = item %}
 	 {% include 'pProduct' with product  %}
	 


{% endfor %}

 </p>
  {% endblock %}  