
{% include "Master" %}

 <p>
 Test

 
                {% for item in model.product_liquids %}
 
 <div>
     <a href='{{ item.detail_link }}'> {{ item.name }} </a> 
	 </div>

 
	 


{% endfor %}

 </p>