@using MvcPaging
@using StoreManagement.Data.GeneralHelper
@model StoreManagement.Data.RequestModel.ProductsViewModel
@{
    ViewBag.Title = "Index";
}

<div class="row">
    <div class="col-md-12">
        <div id="ProductCategories">
            
        </div>
    </div>
</div>