{% extends "Master" %}


 
 {% block title %}
 Products
 
 {% endblock %}  
 

 {% block content %} 
 <p>
 Test

 
                {% for item in model.product_liquids %}
 
 {% assign product = item %}
 	 {% include 'pProduct' with product  %}
	 


{% endfor %}

 </p>
  {% endblock %}  