@using MvcPaging
@using StoreManagement.Data.GeneralHelper
@model StoreManagement.Data.RequestModel.ProductsViewModel
@{
    ViewBag.Title = "Index";
}

<div class="row">
    <div class="col-md-12">
        @if (Model.Categories.Any())
        {
            foreach (var cat in Model.Categories)
            {
                <div class="row">
                    <div class="page-header">
                        <h2> 
                            @Html.ActionLink(cat.Name, "Category", "Categories", new { id = String.Format("{0}-{1}", GeneralHelper.GetUrlSeoString(cat.Name), cat.Id) }, new { @class = "btn btn-lg btn-link" })
                        </h2>
                        </div>
                    @foreach (var product in cat.Contents.Take(8))
                    {
                        <div class="col-md-3">
                            @Html.DisplayFor(model => product, "ProductThumbnail")
                        </div>
                    }
                </div>
            }




        }
    </div>
</div>

