{% extends "Master" %}



 

 
 {% block title %}
 Test Title           {{ model.ProductLiquid.Name }}
 
 {% endblock %}  




 {% block content %} 
 test
 {% assign product = model.ProductLiquid %}
 	 {% include 'pProduct' with product  %}
       
        {% for item in model.ProductCategoryLiquids %}
 
 <div>
     <a href='{{ item.DetailLink }}'> {{ item.Name }} </a> 
	 </div>

 

{% endfor %}

{% endblock %}



    {% block footer %}
	   	   {% include "footer2" %}
           {% endblock %} 