{% extends "base" %}



 

 
 {% block title %}
 My AMAZING Website              {{ model.ProductLiquid.Name }}
 
 {% endblock %}  




 {% block content %} 

 {% assign product = model.ProductLiquid %}
 	 {% include 'pProduct' with product  %}
       
        {% for item in model.ProductCategoryLiquids %}
 
 <div>
     <a href='{{ item.DetailLink }}'> {{ item.Name }} </a> 
	 </div>

 

{% endfor %}

{% endblock %}

 