
@{
       ViewBag.Title = Model.PageTitle;
}
 
<!-- Titlebar
================================================== -->
<section class="titlebar">
<div class="container">
	<div class="sixteen columns">
		<h2>Blog Masonry</h2>
		
		<nav id="breadcrumbs">
			<ul>
				<li><a href="#">Home</a></li>
				<li><a href="#">Blog</a></li>
				<li>Masonry</li>
			</ul>
		</nav>
	</div>
</div>
</section>


<!-- Content
================================================== -->

<!-- Container -->
<div class="container">

	<!-- Masonry Wrapper-->
	<div id="masonry-wrapper">

			<!-- Post #1 -->
			<div class="one-third column masonry-item">
				<article class="from-the-blog">

					<figure class="from-the-blog-image">
						<a href="blog-single-post.html"><img src="images/from_the_blog_01.jpg" alt="" /></a>
						<div class="hover-icon"></div>
					</figure>

					<section class="from-the-blog-content">
						<a href="blog-single-post.html"><h5>Amazon Raises Threshold for Free Shipping</h5></a>
						<i>By Vasterad on May 31, 2014</i>
						<span>Pellentesque ultricies vehicula eleifend. Aenean eu nunc semper faucibus sapien viverra neque.</span>
						<a href="blog-single-post.html" class="button gray">Read More</a>
					</section>

				</article>
			</div>

			<!-- Post #2 -->
			<div class="one-third column masonry-item">
				<article class="from-the-blog">

					<figure class="from-the-blog-image">
						<a href="blog-single-post.html"><img src="images/from_the_blog_02.jpg" alt="" /></a>
						<div class="hover-icon"></div>
					</figure>

					<section class="from-the-blog-content">
						<a href="blog-single-post.html"><h5>How To Read The Symbols on Your Clothing Tags</h5></a>
						<i>By Vasterad on May 16, 2014</i>
						<span>Morbi quis magna nec lacus nunc eratu pharetra lorem sed sapien velit bibendum adipiscing.</span>
						<a href="blog-single-post.html" class="button gray">Read More</a>
					</section>

				</article>
			</div>

			<!-- Post #3 -->
			<div class="one-third column masonry-item">
				<article class="from-the-blog">

					<div class="post-quote">
						<span class="icon"></span>
						<blockquote>
							Women are made to be loved, not understood.
							<span>- Oscar Wilde</span>
						</blockquote>
					</div>

					<section class="from-the-blog-content">
						<a href="blog-single-post.html"><h5>Unlocking The Mystery Of Women</h5></a>
						<i>By Vasterad on May 12, 2014</i>
						<span>Donec fermentum, ligula nec semper interdum, sapien metus lacinia nulla, urna ut mauris.</span>
						<a href="blog-single-post.html" class="button gray">Read More</a>
					</section>

				</article>
			</div>

			<!-- Post #4 -->
			<div class="one-third column masonry-item">
				<article class="from-the-blog">

					<div class="embed">
						<iframe src="http://player.vimeo.com/video/35396305?title=0&amp;byline=0&amp;portrait=0&amp;badge=0&amp;color=ffffff" width="500" height="281" ></iframe>
					</div>

					<section class="from-the-blog-content">
						<a href="blog-single-post.html"><h5>How to Plan a Trip to Yosemite Valley</h5></a>
						<i>By Vasterad on May 10, 2014</i>
						<span>Nullam eget ante cursus, dignissim velit sit amet, tempus massa bibendum venenatis.</span>
						<a href="blog-single-post.html" class="button gray">Read More</a>
					</section>

				</article>
			</div>

			<!-- Post #5 -->
			<div class="one-third column masonry-item">
				<article class="from-the-blog">

					<figure class="from-the-blog-image">
						<a href="blog-single-post.html"><img src="images/from_the_blog_03.jpg" alt="" /></a>
						<div class="hover-icon"></div>
					</figure>

					<section class="from-the-blog-content">
						<a href="blog-single-post.html"><h5>Online Shopping Hit New Highs on Mobile Sales</h5></a>
						<i>By Vasterad on May 10, 2014</i>
						<span>Donec non egestas nisl. Aliquam tincidunt sem sed nisl dictum. Fusce gravida arius gravida.</span>
						<a href="blog-single-post.html" class="button gray">Read More</a>
					</section>

				</article>
			</div>

			<!-- Post #6 -->
			<div class="one-third column masonry-item">
				<article class="from-the-blog">

					<section class="from-the-blog-content no-img">
						<a href="blog-single-post.html"><h5>Image Performance Tips For Authors</h5></a>
						<i>By Vasterad on April 28, 2014</i>
						<span>Donec non egestas nisl. Aliquam tincidunt sem sed nisl dictum. Fusce gravida arius gravida.</span>
						<a href="blog-single-post.html" class="button gray">Read More</a>
					</section>

				</article>
			</div>

			<!-- Post #7 -->
			<div class="one-third column masonry-item">
				<article class="from-the-blog">

					<figure class="from-the-blog-image">
						<a href="blog-single-post.html"><img src="images/from_the_blog_04.jpg" alt="" /></a>
						<div class="hover-icon"></div>
					</figure>

					<section class="from-the-blog-content">
						<a href="blog-single-post.html"><h5>How to Choose Size - Does Your Shirt Fit Properly?</h5></a>
						<i>By Vasterad on April 20, 2014</i>
						<span>Nullam eget ante cursus, dignissim velit sit amet, tempus massa bibendum venenatis.</span>
						<a href="blog-single-post.html" class="button gray">Read More</a>
					</section>

				</article>
			</div>

			<!-- Post #8 -->
			<div class="one-third column masonry-item">
				<article class="from-the-blog">

					<div class="post-quote">
						<span class="icon"></span>
						<blockquote>
							In the modern world of business, it is useless to be a creative, original thinker unless you can also sell what you create.
							<span>- David Ogilvy</span>
						</blockquote>
					</div>

					<section class="from-the-blog-content">
						<a href="blog-single-post.html"><h5>How to Value and Sell Your Business</h5></a>
						<i>By Vasterad on April 18, 2014</i>
						<span>Donec non egestas nisl. Aliquam tincidunt sem sed nisl dictum. Fusce gravida arius gravida.</span>
						<a href="blog-single-post.html" class="button gray">Read More</a>
					</section>

				</article>
			</div>

			<!-- Post #9 -->
			<div class="one-third column masonry-item">
				<article class="from-the-blog">

					<div class="embed">
						<iframe src="http://player.vimeo.com/video/38645740?title=0&amp;byline=0&amp;portrait=0&amp;color=ffffff" width="500" height="281"></iframe>
					</div>

					<section class="from-the-blog-content">
						<a href="blog-single-post.html"><h5>Alps Travel Guide</h5></a>
						<i>By Vasterad on April 14, 2014</i>
						<span>Donec non egestas nisl. Aliquam tincidunt sem sed nisl dictum. Fusce gravida arius gravida.</span>
						<a href="blog-single-post.html" class="button gray">Read More</a>
					</section>

				</article>
			</div>

	</div>

		<!-- Pagination -->
		<div class="pagination-container masonry">
			<nav class="pagination">
				<ul>
					<li><a href="#" class="current-page">1</a></li>
					<li><a href="#">2</a></li>
					<li><a href="#">3</a></li>
				</ul>
			</nav>

			<nav class="pagination-next-prev full-width">
				<ul>
					<li><a href="#" class="prev"></a></li>
					<li><a href="#" class="next"></a></li>
				</ul>
			</nav>
		</div>

</div>
<!-- Container / End -->