@using MvcPaging
@using StoreManagement.Data.GeneralHelper
@model Dictionary<String, String>
@{
    ViewBag.Title = "Index";
    Dictionary<String, String> outputDic = Model;
    var pageSize = outputDic["PageSize"].ToInt();
    var pageNumber = outputDic["PageNumber"].ToInt();
    var totalItemCount = outputDic["TotalItemCount"].ToInt();
            
}

<!-- Content
================================================== -->

<!-- Container -->
<div class="container">

    <!-- Masonry Wrapper-->
    @Html.Raw(outputDic["BlogsIndex"])

    <div class="pager">
        @Html.Pager(pageSize, pageNumber, totalItemCount).Options(o => o.DisplayTemplate("BootstrapPagination").MaxNrOfPages(7).AlwaysAddFirstPageNumber()
                                                                                                                            .SetPreviousPageText("←")
                                                                                                                            .SetNextPageText("→"))
    </div>
</div>
<!-- Container / End -->
