
@{
    ViewBag.Title = "Index2";
}

 
<!-- Titlebar
================================================== -->
<section class="titlebar">
<div class="container">
	<div class="sixteen columns">
		<h2>Blog Standard</h2>
		
		<nav id="breadcrumbs">
			<ul>
				<li><a href="#">Home</a></li>
				<li><a href="#">Blog</a></li>
				<li>Standard</li>
			</ul>
		</nav>
	</div>
</div>
</section>


<!-- Content
================================================== -->

<!-- Container -->
<div class="container">

<div class="twelve columns">
	<div class="extra-padding">

		<!-- Post -->
		<article class="post">

			<figure class="post-img">
				<a href="blog-single-post.html"><img src="images/blog-01.jpg" alt=""/>
					<div class="hover-icon"></div>
				</a>
			</figure>

			<section class="date">
				<span class="day">31</span>
				<span class="month">May</span>
			</section>

			<section class="post-content">

				<header class="meta">
					<h2><a href="blog-single-post.html">Amazon Raises Threshold for Free Shipping</a></h2>
					<span><i class="fa fa-user"></i>By <a href="#">admin</a></span>
					<span><i class="fa fa-tag"></i><a href="#">Travel</a>, <a href="#">Nature</a></span>
					<span><i class="fa fa-comment"></i>With <a href="#">4 Comments</a></span>
				</header>

				<p>Maecenas placerat bibendum eget dolor pellentesque sed consectetur pulvinar pellentesque bibendum. Vestibulum varius hendrerit turpis quiseam cursus. Donec bibendum vestibulum gravida. Pellentesque condimentum orci vel leo laoreet accumsan interdum eros vel sapien tincidunt dignissim. Integer mauris lacus consequat.</p>

				<a href="blog-single-post.html" class="button color">Read More</a>

			</section>

		</article>
		<!-- Post / End -->


		<!-- Post -->
		<article class="post">

			<figure class="post-img">
				<div id="basic-slider" class="royalSlider rsDefault">
				    <a href="images/blog-02-big.jpg" class="mfp-gallery" title="First Image Title"><img class="rsImg" src="images/blog-02.jpg" alt="" /><span class="royal-caption">First Image Title</span></a>
				    <a href="images/blog-02a-big.jpg" class="mfp-gallery" title="Second Image Title"><img class="rsImg" src="images/blog-02a.jpg" alt="" /><span class="royal-caption">Second Image Title</span></a>
				 </div>
				 <div class="clearfix"></div>
			</figure>

			<section class="date">
				<span class="day">16</span>
				<span class="month">May</span>
			</section>

			<section class="post-content">

				<header class="meta">
					<h2><a href="blog-single-post.html">How To Read The Symbols on Your Clothing Tags</a></h2>
					<span><i class="fa fa-user"></i>By <a href="#">admin</a></span>
					<span><i class="fa fa-tag"></i><a href="#">Electronics</a>, <a href="#">Travel</a></span>
					<span><i class="fa fa-comment"></i>With <a href="#">12 Comments</a></span>
				</header>

				<p>Maecenas placerat bibendum eget dolor pellentesque sed consectetur pulvinar pellentesque bibendum. Vestibulum varius hendrerit turpis quiseam cursus. Donec bibendum vestibulum gravida. Pellentesque condimentum orci vel leo laoreet accumsan interdum eros vel sapien tincidunt dignissim. Integer mauris lacus consequat.</p>

				<a href="blog-single-post.html" class="button color">Read More</a>

			</section>

		</article>
		<!-- Post / End -->


		<!-- Post -->
		<article class="post">

			<figure class="post-img">
				<a href="blog-single-post.html"><img src="images/blog-03.jpg" alt=""/>
					<div class="hover-icon"></div>
				</a>
			</figure>

			<section class="date">
				<span class="day">10</span>
				<span class="month">May</span>
			</section>

			<section class="post-content">

				<header class="meta">
					<h2><a href="blog-single-post.html">Online Shopping Hit New Highs on Mobile Sales</a></h2>
					<span><i class="fa fa-user"></i>By <a href="#">admin</a></span>
					<span><i class="fa fa-tag"></i><a href="#">Weather</a>, <a href="#">Fitness</a></span>
					<span><i class="fa fa-comment"></i>With <a href="#">7 Comments</a></span>
				</header>

				<p>Maecenas placerat bibendum eget dolor pellentesque sed consectetur pulvinar pellentesque bibendum. Vestibulum varius hendrerit turpis quiseam cursus. Donec bibendum vestibulum gravida. Pellentesque condimentum orci vel leo laoreet accumsan interdum eros vel sapien tincidunt dignissim. Integer mauris lacus consequat.</p>

				<a href="blog-single-post.html" class="button color">Read More</a>

			</section>

		</article>
		<!-- Post / End -->

		<div class="clearfix"></div>

		<!-- Pagination -->
		<div class="pagination-container">
			<nav class="pagination">
				<ul>
					<li><a href="#" class="current-page">1</a></li>
					<li><a href="#">2</a></li>
					<li><a href="#">3</a></li>
				</ul>
			</nav>

			<nav class="pagination-next-prev">
				<ul>
					<li><a href="#" class="prev"></a></li>
					<li><a href="#" class="next"></a></li>
				</ul>
			</nav>
		</div>

	</div>
</div>

<!-- Sidebar
================================================== -->
<div class="four columns">

	<!-- About -->
	<div class="widget margin-top-0">
		<h3 class="headline">About</h3><span class="line"></span><div class="clearfix"></div>
		<p>Malesuada scelerisque dignissim massa lectus, ultricies diam consequat aliquam imperdiet egestas ultrices etiam.</p>
	</div>
	
	
	<!-- Categories -->
	<div class="widget">
		<h3 class="headline">Categories</h3><span class="line"></span><div class="clearfix"></div>
		<nav class="categories">
			<ul>
				<li><a href="#">Fashion</a></li>
				<li><a href="#">Lifestyle</a></li>
				<li><a href="#">Entertainment</a></li>
				<li><a href="#">Technology</a></li>
				<li><a href="#">World</a></li>
			</ul>
		</nav>
	</div>


	<!-- Tabs -->
	<div class="widget margin-top-40">

		<ul class="tabs-nav blog">
			<li class="active"><a href="#tab1">Popular</a></li>
			<li><a href="#tab2">Featured</a></li>
			<li><a href="#tab3">Recent</a></li>
		</ul>

		<!-- Tabs Content -->
		<div class="tabs-container">

			<div class="tab-content" id="tab1">
				
				<!-- Recent Posts -->
				<ul class="widget-tabs">
					
					<!-- Post #1 -->
					<li>
						<div class="widget-thumb">
							<a href="blog-single-post.html"><img src="images/blog-widget-01.png" alt="" /></a>
						</div>
						
						<div class="widget-text">
							<h4><a href="blog-single-post.html">How To Read The Symbols on Your Clothing Tags</a></h4>
							<span>16 May 2014</span>
						</div>
						<div class="clearfix"></div>
					</li>
					
					<!-- Post #2 -->
					<li>
						<div class="widget-thumb">
							<a href="blog-single-post.html"><img src="images/blog-widget-02.png" alt="" /></a>
						</div>
						
						<div class="widget-text">
							<h4><a href="blog-single-post.html">How to Choose Size - Does Your Shirt Fit Properly?</a></h4>
							<span>20 April 2014</span>
						</div>
						<div class="clearfix"></div>

					</li>
					
					<!-- Post #3 -->
					<li>
						<div class="widget-thumb">
							<a href="blog-single-post.html"><img src="images/blog-widget-03.png" alt="" /></a>
						</div>
						
						<div class="widget-text">
							<h4><a href="blog-single-post.html">Online Shopping Hit New Highs on Mobile Sales</a></h4>
							<span>10 May 2014</span>
						</div>
						<div class="clearfix"></div>
					</li>
				</ul>
	
			</div>

			<div class="tab-content" id="tab2">
			
				<!-- Featured Posts -->
				<ul class="widget-tabs">
					
					<!-- Post #1 -->
					<li>
						<div class="widget-thumb">
							<a href="blog-single-post.html"><img src="images/blog-widget-04.png" alt="" /></a>
						</div>
						
						<div class="widget-text">
							<h4><a href="blog-single-post.html">New Sugary Drink Rules Complicate Coffee Orders</a></h4>
							<span>19 April 2014</span>
						</div>
						<div class="clearfix"></div>
					</li>
					
					<!-- Post #2 -->
					<li>
						<div class="widget-thumb">
							<a href="blog-single-post.html"><img src="images/blog-widget-01.png" alt="" /></a>
						</div>
						
						<div class="widget-text">
							<h4><a href="blog-single-post.html">How To Download The Google Fonts Catalog</a></h4>
							<span>28 May 2014</span>
						</div>
						<div class="clearfix"></div>
					</li>
					
					<!-- Post #3 -->
					<li>
						<div class="widget-thumb">
							<a href="blog-single-post.html"><img src="images/blog-widget-05.png" alt="" /></a>
						</div>
						
						<div class="widget-text">
							<h4><a href="blog-single-post.html">Mobile Editing Tools For Smartphone Photos</a></h4>
							<span>03 May 2014</span>
						</div>
						<div class="clearfix"></div>
					</li>
				</ul>
			</div>

			<div class="tab-content" id="tab3">
			
				<!-- Recent Posts -->
				<ul class="widget-tabs">
					
					<!-- Post #1 -->
					<li>
						<div class="widget-thumb">
							<a href="blog-single-post.html"><img src="images/blog-widget-06.png" alt="" /></a>
						</div>
						
						<div class="widget-text">
							<h4><a href="blog-single-post.html">Amazon Raises Threshold for Free Shipping</a></h4>
							<span>31 May 2014</span>
						</div>
						<div class="clearfix"></div>
					</li>
					
					<!-- Post #2 -->
					<li>
						<div class="widget-thumb">
							<a href="blog-single-post.html"><img src="images/blog-widget-01.png" alt="" /></a>
						</div>
						
						<div class="widget-text">
							<h4><a href="blog-single-post.html">How To Read The Symbols on Your Clothing Tags</a></h4>
							<span>16 May 2014</span>
						</div>
						<div class="clearfix"></div>
					</li>
					
					<!-- Post #3 -->
					<li>
						<div class="widget-thumb">
							<a href="blog-single-post.html"><img src="images/blog-widget-03.png" alt="" /></a>
						</div>
						
						<div class="widget-text">
							<h4><a href="blog-single-post.html">Online Shopping Hit New Highs on Mobile Sales</a></h4>
							<span>10 May 2014</span>
						</div>
						<div class="clearfix"></div>
					</li>
				</ul>
			</div>
			
		</div>
		
	</div>
	
	
	<!-- Tags -->
	<div class="widget margin-top-10">
		<h3 class="headline">Tags</h3><span class="line"></span><div class="clearfix"></div>
	
		<nav class="tags">
			<a href="#">Motivation</a>
			<a href="#">Travel</a>
			<a href="#">Social</a>
			<a href="#">Nature</a>
			<a href="#">Weather</a>
			<a href="#">Fashion</a>
			<a href="#">Electronics</a>
			<a href="#">Fitness</a>
		</nav>
	</div>
	
	<br>
	<br>

</div>


</div>
<!-- Container / End -->