@using MvcPaging
@using StoreManagement.Data.GeneralHelper

@model StoreManagement.Data.LiquidEntities.StoreLiquidResult  
@{
    ViewBag.Title = "Index";
    Dictionary<String, String> outputDic = Model.LiquidRenderedResult;
            
}



<div class="container">
    @Html.Raw(Model.PageOutputText)
</div>

