@{
    Layout = null;
}

	<h2>Contact</h2>
			<p>Nam erat a posuere laoreet eget nibh sodales adipiscing. Phasellus tristique dui.</p>
			<ul class="style5">
				<li class="first"><span class="address">Address</span> <span class="address-01">1234 Somewhere Road #4285 <br />
					Nashville, TN 00000</span> </li>
				<li> <span class="mail">Mail</span> <span class="mail-01"><a href="#">someone@untitled.tld</a></span> </li>
				<li> <span class="phone">Phone</span> <span class="phone-01">(000) 000-0000</span> </li>
			</ul>