@using StoreManagement.Data.Entities
@model StoreManagement.Data.RequestModel.StoreHomePage
@{
    ViewBag.Title = "Home Page";
}
<h1>
    @Model.Store.Name
</h1>
@{
    foreach (var item in Model.Categories)
    {        
        @Html.DisplayFor(modelItem => item, "CategoryItem")
          
    }
}