@model  List<StoreManagement.Data.Entities.Navigation>
@{
    Layout = null;
    var menus = Model;
}
@foreach (var m in menus)
{
    if (m.Static)
    {
    <li>@m.Link</li>
    }
    else
    {    
    <li>@Html.ActionLink(m.Name, m.ActionName, m.ControllerName,null,new{@class="storenavigation"})</li>
    }
}

