@model StoreManagement.Data.EntitiesWrapper.RazorEngineOutput
@{
    ViewBag.Title = "PageDesignTest";
    Layout = "../Shared/_Layout.cshtml";
}

<h2>PageDesignTest</h2>

@Html.Raw(Model.TemplateOutput)